doctype html
html
  head
    title Sales By Agent
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/sales.css")
  body
    .container.mt-4
      h1.mb-4 Sales By Agent

      each agentName in Object.keys(grouped)
        .card.mb-4
          .card-header.bg-primary.text-white
            h4= agentName

          .card-body
            table.table.table-striped
              thead
                tr
                  th Product
                  th Price (UGX)
                  th Quantity
                  th Total
                  th Date
              tbody
                each sale in grouped[agentName]
                  tr
                    td= sale.product
                    td #{new Intl.NumberFormat().format(sale.price)}
                    td= sale.quantity
                    td #{new Intl.NumberFormat().format(sale.total)}
                    td= sale.date.toLocaleDateString()
