doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Sales Executive Dashboard
    link(rel='stylesheet' href='/css/sales.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet")

  body
    .sidebar
      .logo
        h2 MAYONDO INVENTORY MANAGEMENT SYSTEM

      ul.nav-links
        a(href='/')
          span.material-icons-outlined.me-2 home
          | Home
        a(href='/woodRegistered')
          span.material-icons-outlined.me-2 inventory_2
          | View Wood Stock
        a(href='/furnitureRegistered')
          span.material-icons-outlined.me-2 view_list
          | View Furniture Stock
        a(href=`/agent/${currentUser._id}`)
          span.material-icons-outlined.me-2 bar_chart
          | View My Sales
        a(href='/recordwoodSale')
          span.material-icons-outlined.me-2 shopping_cart
          | Add Wood Sale
        a(href='/recordfurnitureSale')
          span.material-icons-outlined.me-2 point_of_sale
          | Add Furniture Sale
        a(href='/logout')
          button.login-btn Logout

    .main-content
      header
        h1 Sales Executive Dashboard
        p Welcome,
          span#username= currentUser?.fullname || "Sales Executive"

      section.mt-4
        h2 Your Sales Records

        if sales && sales.length > 0
          table.sales-table
            thead
              tr
                th Product
                th Unit Price (UGX)
                th Quantity
                th Total (UGX)
                th Sale Type
                th Date
            tbody
              each sale in sales
                tr
                  td= sale.productName
                  td #{new Intl.NumberFormat().format(sale.unitprice)}
                  td= sale.quantity
                  td #{new Intl.NumberFormat().format(sale.totalprice)}
                  td= sale.type
                  td= sale.date ? sale.date.toLocaleDateString() : 'N/A'
        else
          p No sales recorded yet.
